# fly.toml app configuration file generated for rs-de-www on 2023-07-04T14:57:56+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "rs-de-www"
primary_region = "cdg"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
